{% extends 'base.html' %} {% block content %} {% load bootstrap_tags %}
<div class="parallax-bugs">
  <section class="container main-message">
    <div class="jumbotron">
      <h1 class="display-4">View, submit and discuss bugs below</h1>
    </div>
  </section>
</div>

<section class="container">
  {% for bug in bugs %}
  <div class="card mb-3">
    <h3 class="card-header">{{bug.name}}</h3>
    <div class="card-body">
      <div class="progress">
        {% if bug.status == "To do" %}
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"> To Do</div>
        {% elif bug.status == "In progress" %}
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"> In Progess</div>
        {% elif bug.status == "Cancelled" %}
        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Cancelled</div>
        {% else %}
        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Complete</div>
        {% endif %}
      </div>
      <p class="card-text">{{bug.desc}}</p>
      <h6 class="card-subtitle text-muted">Author: {{ bug.author }} </h6>
    </div>
    <div class="card-footer text-muted">
      <i class="far fa-eye"> {{ bug.views }} </i>
      <form method="post" action="{% url 'upvote_bug' bug.id %}">
        {% csrf_token %}
        <i class="fas fa-arrow-up"> {{ bug.upvotes }} </i>
      </form>
      <a class="btn btn btn-secondary" href="{% url 'bug_detail' bug.id %}" role="button">View</a>
    </div>
  </div>
  {% endfor %}

</section>
{% endblock %} 

