{% extends 'base.html' %} {% block content %} {% load bootstrap_tags %}
<div class="parallax-bugs">
  <section class="container main-message">
    <div class="jumbotron">
      <h1 class="display-4">View, submit and discuss bugs below</h1>
    </div>
  </section>
</div>

<div class="container">
  <div class="row">
    {% for bug in bugs %}
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <div class="card main-card">
        <div class="card-body">
          <h5 class="card-title">{{bug.name|truncatechars:18}}</h5>
          <div class="dropdown-divider"></div>
          <p class="card-text">{{bug.desc|truncatechars:80 }}</p>
        </div>
        <div class="container">
          <div class="row card-footer">
            <div class="col-sm">
              <a class="btn btn btn-secondary" href="{% url 'bug_detail' bug.id %}" role="button">View</a>
            </div>
            <div class="col-sm">
              <i class="far fa-eye"> {{ bug.views }}</i>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
