{% extends 'base.html' %} {% block page_title %} Statistics {% endblock %} {% block content %}

<!--   Main page image   -->

<div class="parallax-stats">
    <section class="container main-message">
        <div class="jumbotron">
            <h1 class="display-4">See whats happening <br> under the hood</h1>
        </div>
    </section>
</div>

<section class="container">
    <div>
        <!--   Top upvoted bugs and feature bar charts   -->
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h2>Five Most Upvoted Bugs</h2>
                {{ bug_bar_chart|safe }}
            </div>
            <div class="col-xs-12 col-md-6">
                <h2>Five Most Upvoted Features</h2>
                {{ feature_bar_chart|safe }}
            </div>
        </div>
        <!--   Bugs and feature progress pie charts   -->
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h2>Bugs Progress</h2>
                {{ bug_pie_chart|safe }}
            </div>
            <div class="col-xs-12 col-md-6">
                <h2>Features Progress</h2>
                {{ feature_pie_chart|safe }}
            </div>
        </div>
    </div>
</section>


{% endblock %}
