{% extends 'base.html' %} {% block page_title %} Completed Features {% endblock %} {% block content %} {% load bootstrap_tags %}

<!--   Main page image   -->

<section class="parallax-archive">
  <div class="container main-message">
    <div class="jumbotron">
      <h1 class="display-4">Completed Features</h1>
    </div>
  </div>
</section>

<!--   Navigation to submit a feature or back to all features  -->

<section class="container">
  <div class="row">
    <div class="profile-submit-buttons col-sm-6 center">
      <a href="{% url 'new_feature' %}"><button type="button" class="btn btn-primary"> Submit Feature</button></a>
    </div>
    <div class="profile-submit-buttons col-sm-6 center">
      <a href="{% url 'view_features' %}"><button type="button" class="btn btn-primary"> Back to Features</button></a>
    </div>
  </div>

  <!--   Bootswatch cards to display features  -->

  {% for feature in features %}
  <div class="card mb-3">
    <div class="card-header"><strong>{{feature.name|truncatewords:"5"}}</strong><span class="card-link"> {{ feature.created_date }} </span></div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Complete</div>
    </div>
    <div class="card-body">
      <p class="card-text">{{feature.desc }}</p>
      <h6 class="card-subtitle text-muted">Author: {{ feature.author }} </h6>
    </div>
    <div class="card-footer text-muted">
      <i class="far fa-eye"> {{ feature.views }} </i> {% if user.is_authenticated %}
      <a href="{% url 'add_to_cart' feature.id %}" data-toggle="modal" data-target="#exampleModal" aria-label="upvote"> <i class="fas fa-arrow-up"> {{ feature.upvotes }} </i></a> {% csrf_token %}
      <a href="{% url 'feature_detail' feature.id %}" aria-label="comments"><i class="far fa-comment"> ({{ feature.comment_number }}) </i></a> {% else %}
      <i class="fas fa-arrow-up"> {{feature.upvotes}} </i>
      <i class="far fa-comment"> ({{ feature.comment_number }}) </i> {% endif %}
      <a class="btn btn-primary buttons-right" href="{% url 'feature_detail' feature.id %}" role="button">View</a>
    </div>
  </div>

  <!--   Bootstrap modal with upvote information   -->

  <div class="modal" id="exampleModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Feature: {{feature.name|truncatewords:"4"}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p>Thank you for chosing to upvote this feature.</p>
          <p> Each feature you upvote comes with a £5 charge.</p>
          <p> If you wish to continue click the upvote button.</p>
          <p>The feature will then be added to your cart where you can checkout at your convenience.</p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <a href="{% url 'add_to_cart' feature.id %}"><button type="button" class="btn btn-primary">Upvote</button></a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}


  <!--   Pagination to display 5 features per page   -->

  <div class="pagination">
    <span class="step-links">
        {% if features.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ features.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ features.number }} of {{ features.paginator.num_pages }}.
        </span> {% if features.has_next %}
    <a href="?page={{ features.next_page_number }}">next</a>
    <a href="?page={{ features.paginator.num_pages }}">last &raquo;</a> {% endif %}
    </span>
  </div>

</section>

<br> {% endblock %}
