form {
    width: 50%;
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0.5);
}

.main-message{
    padding-top: 70px;
    text-align: center;
}

.container{
    padding-top: 70px;
}

.navbar {
    margin-bottom: 0px;
}

.parallax {
    background-image: url("/static/img/home.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-info {
    text-align: center;
    min-height: 200px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(211, 211, 211);
}

.footer {
    width: 100%;
}

.bug-panel {
    height: 250px;
    width: 250px;
}
