/*------------------------ General styling ----------------------------------*/

.center {
    text-align: center;
}

html,
body {
    height: 100%;
    margin: 0;
}

.page-content {
    min-height: 100%;
    margin-bottom: -5px;
}

.page-content::after {
    content: "";
    display: block;
}

footer,
.page-contnet::after {
    height: 70px;
    background-color: #2780E3;
}

footer a {
    color: rgba(255,255,255,0.5);
}

footer a:hover {
    color: white;
    text-decoration: none;
}

.copyright-footer {
    padding-top: 20px;
    text-align: center;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

/*---------------------------- navbar ---------------------------------------*/

.navbar {
    margin-bottom: 0px;
}

/*------------------------ Parralax header ----------------------------------*/

.jumbotron {
    background-color: rgba(255, 255, 255, 0.0);
}

.jumbotron h1 {
    color: white;
}

.jumbotron p {
    color: white;
}

.display-4 {
    font-size: 64px;
    font-weight: 400;
    line-height: 1.2;
}

.main-message {
    padding-top: 100px;
    text-align: center;
}


.parallax {
    background-image: url("/static/img/home.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-bugs {
    background-image: url("/static/img/bug-background.jpeg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-features {
    background-image: url("/static/img/features-background.jpeg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-stats {
    background-image: url("/static/img/stats-background.jpeg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-forum {
    background-image: url("/static/img/forum3-background.jpeg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*------------------------ Index ----------------------------------*/

.home-title {
    margin-top: 110px;
    margin-bottom: 80px;
    font-weight: 400;
}


.home-title h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 1.2;
}

.home-icon {
    font-size: 52px;
    margin-bottom: 15px;
    text-decoration: none;
}

.home-icon a {
    color: #2780E3;
}

.home-icon a:hover {
    text-decoration: none;
}

.home-sub-header {
    font-size: 20px;
    margin-bottom: 12px;
}

.home-sub-text {
    font-size: 16px;
    margin-bottom: 30px;
}

.bottom-register {
    margin-bottom: 30px;
}

/*------------------------ Login/Register ----------------------------------*/

.input-forms {
    margin-top: 30px;
    margin-bottom: 30px;
}

/*------------------------ bugs, features & posts ----------------------------------*/

.card-footer {
    text-align: center;
}

.detail-body {
    min-height: 200px;
}

.card-footer i {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
}

.card-footer a {
    float: right;
}

.comments {
    margin-left: 3px;
}

.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1.5rem;
    overflow: hidden;
    font-size: 0.703125rem;
    background-color: #e9ecef;
}

/*------------------------ profile  ----------------------------------*/
.breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px 0px 0px 0px;
    margin-bottom: 0px;
    list-style: none;
    background-color: #2780E3;
}


.profile-submit-buttons{
    padding-top: 20px;
    padding-bottom:20px;
}

/*------------------------ media queries  ----------------------------------*/



@media only screen and (min-width: 900px) {
    .breadcrumb {
        padding: 20px 0px 0px 175px;
    }

}
