{% extends 'base.html' %} {% block content %} {% load bootstrap_tags %}

<div class="parallax-forum">
  <section class="container main-message">
    <div class="jumbotron">
      <h1 class="display-4">Discussion <br> boards</h1>
    </div>
  </section>
</div>

<section class="container">
  <div class="row">
    <div class="profile-submit-buttons">
      <a href="{% url 'new_post' %}"><button type="button" class="btn btn-primary"> Submit Post</button></a>
    </div>
  </div>
  {% for post in posts %}
  <div class="card mb-3">
    <h3 class="card-header">{{post.name}}</h3>
    <div class="card-body">
      <p class="card-text">{{post.desc}}</p>
      <h6 class="card-subtitle text-muted">Author: {{ post.author }} </h6>
    </div>
    <div class="card-footer text-muted">
      <i class="far fa-eye"> {{ post.views }} </i>
      {% if user.is_authenticated %}
      <a href="{% url 'upvote_post' post.id %}"> <i class="fas fa-arrow-up"> {{ post.upvotes }} </i></a> {% csrf_token %}
      <i class="far fa-comment"> ({{ post.comment_number }}) </i>
      {% else %}
      <i class="fas fa-arrow-up"> {{post.upvotes}} </i>
      <i class="far fa-comment"> ({{ post.comment_number }}) </i>
      {% endif %}
      <a class="btn btn btn-primary" href="{% url 'post_detail' post.id %}" role="button">View</a>
    </div>
  </div>
  {% endfor %}

</section>

{% endblock %}
