{% extends 'base.html' %} {% block page_title %} Post Detail {% endblock %} {% block content %} {% load bootstrap_tags %}

<section class="container">
  <div class="card mb-3">
    <h3 class="card-header">{{post.name}}</h3>
    <div class="card-body">
      <p class="card-text">{{post.desc }}</p>
      <h6 class="card-subtitle text-muted">Author: {{ post.author }} </h6>
    </div>
    <div class="card-footer text-muted">
      <i class="far fa-eye"> {{ post.views }} </i>
      {% if user.is_authenticated %}
      <a href="{% url 'upvote_post' post.id %}"> <i class="fas fa-arrow-up"> {{ post.upvotes }} </i></a> {% csrf_token %}
      {% else %}
      <i class="fas fa-arrow-up"> {{post.upvotes}} </i>
      {% endif %}
      <a class="btn btn btn-primary buttons-right" href="{% url 'view_posts'%}" role="button">Back</a>
    </div>
  </div>
</section>

<div class="container">
    {% if comments %}
    <div class="row comments">
        <h4>Comments <span style="color:black; font-size:15px;">({{ comments_total }})</span></h4>
    </div>
    <div class="card">
        {% for comment in comments %}
        <div class="card-body detail-body">
            <h5 class="card-title">User: {{ comment.author }}</h5>
            <div class="dropdown-divider"></div>
            <p class="card-text"> {{ comment.description }} </p>
        </div>
        {% endfor %}
    </div>
    {% endif %}

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %} {{ form | as_bootstrap }}
            {% if user.is_authenticated %}
            <button type="submit" class="btn btn btn-secondary">Add comment</button> 
            {% else %}
            <p>Please <a href="{% url 'login' %}">login</a> to comment on posts.</p>
            <button type="button" class="btn btn-primary disabled">Submit</button> 
            {% endif %}
        </form>
</div>
<br>
{% endblock %}
