{% extends 'base.html' %} {% block page_title %} Unicorn Attractor {% endblock %} {% block content %}
<!--   head image   -->
<section class="parallax">
    <div class="container main-message">
        <div class="jumbotron">
            <h1 class="display-4">Solutions to your <br> software needs</h1>
            {% if user.is_authenticated %} {% else %}
            <a class="btn btn-primary btn-lg" href="{% url 'registration' %}" role="button" aria-label="Register">Register</a> {% endif %}
        </div>
    </div>
</section>

<section class="container">
    <div class="center home-title">
        <h1> Everything You Need. And More.</h1>
    </div>

    <div class="center bottom-padding">
        <p> Here are Solutions io we promise to spend 50% of our time working on developing the highest paid feature.
            <br>
        </p>
        <p>
            Register today to be able to submit, comment and vote on bug or feature requests.
            <br>
        </p>
        <p>
            Once registered you could also head over to the forum to discuss whatever you like with your fellow users!
        </p>
    </div>

    <!--   Main navigation icons   -->

    <div class="container-fluid">
        <div class="row center">
            <div class="col-sm-6 col-md-3">
                <div class="home-icon">
                    <a href="{% url 'view_bugs' %}" aria-label="bugs"> <i class="fas fa-bug"></i></a>
                </div>
                <div class="home-sub-header">
                    <strong>Bugs</strong>
                </div>
                <div class="home-sub-text">
                    Submit and review bugs, free of charge.
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="home-icon">
                    <a href="{% url 'view_features' %}" aria-label="features"> <i class="fas fa-wrench"></i></a>
                </div>
                <div class="home-sub-header">
                    <strong>Features</strong>
                </div>
                <div class="home-sub-text">
                    Submit and review features for a small fee<a href="" class="feature-info" data-toggle="modal" data-target="#exampleModal">*</a>.
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="home-icon">
                    <a href="{% url 'view_posts' %}" aria-label="forum"> <i class="fas fa-comments"></i></a>
                </div>
                <div class="home-sub-header">
                    <strong>Community</strong>
                </div>
                <div class="home-sub-text">
                    Discuss your opinions with your fellow site users.
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="home-icon">
                    <a href="{% url 'graphs' %}" aria-label="statistics"> <i class="far fa-chart-bar"></i></a>
                </div>
                <div class="home-sub-header">
                    <strong>Statistics</strong>
                </div>
                <div class="home-sub-text">
                    View our data dashboard to track our work.
                </div>
            </div>
        </div>
    </div>

    <!--   Register button   -->

    <div class="container center">
        <div class="bottom-register">
            {% if user.is_authenticated %} {% else %}
            <a class="btn btn-primary btn-lg" href="{% url 'registration' %}" role="button" aria-label="register">Register</a> {% endif %}
        </div>

    </div>

    <!--   Bootstrap Modal   -->

    <div class="modal" id="exampleModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Each feature you upvote comes with a £5 charge</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                </div>
                <div class="modal-body">
                    <p> This is our way of ensuring only the most valued feature requests are being upvoted and gives us the ability to work on these new requests.</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Close</button>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}
