{% extends 'base.html' %} {% block page_title %} Homepage {% endblock %} {% block content %}
<div class="parallax">
    <section class="container main-message">
        <div class="jumbotron">
            <h1 class="display-4">Solutions to your <br> software needs</h1>
            {% if user.is_authenticated %} {% else %}
            <a class="btn btn-primary btn-lg" href="{% url 'registration' %}" role="button">Register</a> {% endif %}
        </div>
    </section>
</div>

<section class="container">
    <div class="center home-title">
        <h1> Everything You Need. And More.</h1>
    </div>

    <div class="container-fluid">
        <div class="row center">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="home-icon">
                    <i class="fas fa-bug"></i>
                </div>
                <div class="home-sub-header">
                    <strong>Bugs</strong>
                </div>
                <div class="home-sub-text">
                    Submit and review bugs, free of charge.
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="home-icon">
                   <i class="fas fa-wrench"></i>
                </div>
                <div class="home-sub-header">
                    <strong>Features</strong>
                </div>
                <div class="home-sub-text">
                    Submit and review features for a small fee.
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="home-icon">
                    <i class="fas fa-comments"></i>
                </div>
                <div class="home-sub-header">
                    <strong>Community</strong>
                </div>
                <div class="home-sub-text">
                    Discuss your opinions with your fellow site users.
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="home-icon">
                    <i class="far fa-chart-bar"></i>
                </div>
                <div class="home-sub-header">
                    <strong>Statistics</strong>
                </div>
                <div class="home-sub-text">
                    View our data dashboard to track our work.
                </div>
            </div>
        </div>
    </div>
    
    <div class="container center">
        <div class="bottom-register">
            {% if user.is_authenticated %} {% else %}
            <a class="btn btn-primary btn-lg" href="{% url 'registration' %}" role="button">Register</a> {% endif %}
        </div>
        
    </div>

</section>

{% endblock %}
