{% extends 'base.html' %} {% load bootstrap_tags %} {% block page_heading %} Profile {% endblock %} {% block content %}
<section class="container detail-padding">
    <!--   Submission buttons   -->
    <div class="row">
        <div class="profile-submit-buttons">
            <a href="{% url 'new_bug' %}"><button type="button" class="btn btn-primary"> Submit Bug</button></a>
            <a href="{% url 'new_feature' %}"><button type="button" class="btn btn-primary"> Submit Feature</button></a>
            <a href="{% url 'new_post' %}"><button type="button" class="btn btn-primary"> Submit Post</button></a>
        </div>
    </div>

    <!--   Bootswatch tabs to display bugs, features and forum posts   -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#bugs" aria-hidden="true">Bugs ({{ bugs.count }})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#features" aria-hidden="true">Features ({{ features.count }})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#posts" aria-hidden="true">Posts  ({{ posts.count }})</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade show active" id="bugs">
            {% if bugs %} {% for bug in bugs %}
            <div class="card mb-3">
                <h3 class="card-header">{{bug.name|truncatewords:"5"}}</h3>
                <div class="progress">
                    {% if bug.status == "To do" %}
                    <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"> To Do</div>
                    {% elif bug.status == "In progress" %}
                    <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"> In Progess</div>
                    {% elif bug.status == "Cancelled" %}
                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Cancelled</div>
                    {% else %}
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Complete</div>
                    {% endif %}
                </div>
                <div class="card-body">
                    <p class="card-text">{{bug.desc}}</p>
                    <h6 class="card-subtitle text-muted">Author: {{ bug.author }} </h6>
                </div>
                <div class="row card-footer text-muted">
                    <div class="col-sm">
                        <i class="far fa-eye"> {{ bug.views }} </i> {% if user.is_authenticated %}
                        <a href="{% url 'upvote_bug' bug.id %}" aria-label="upvote"> <i class="fas fa-arrow-up"> {{bug.upvotes}} </i></a> {% csrf_token %}
                        <a href="{% url 'bug_detail' bug.id %}" aria-label="comments"><i class="far fa-comment"> ({{ bug.comment_number }}) </i> </a> {% else %}
                        <i class="fas fa-arrow-up"> {{bug.upvotes}} </i>
                        <i class="far fa-comment"> ({{ bug.comment_number }}) </i> {% endif %}
                    </div>
                    <div class="col-sm profile-buttons">
                        <a class="btn btn-primary" href="{% url 'bug_detail' bug.id %}" role="button">View</a>
                        <a class="btn btn btn-primary" href="{% url 'edit_bug' bug.id %}" role="button">Edit</a>
                        <a class="btn btn btn-danger" href="{% url 'delete_bug' bug.id %}" role="button">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %} {% else %}
            <div class="card mb-3">
                <h3 class="card-header">Oops! You have not submitted any bugs yet!</h3>
            </div>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="features">
            {% if features %} {% for feature in features %}
            <div class="card mb-3">
                <h3 class="card-header">{{feature.name|truncatewords:"5"}}</h3>
                <div class="progress">
                    {% if feature.status == "To do" %}
                    <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"> To Do</div>
                    {% elif feature.status == "In progress" %}
                    <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"> In Progess</div>
                    {% elif feature.status == "Cancelled" %}
                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Cancelled</div>
                    {% else %}
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Complete</div>
                    {% endif %}
                </div>
                <div class="card-body">
                    <p class="card-text">{{feature.desc }}</p>
                    <h6 class="card-subtitle text-muted">Author: {{ feature.author }} </h6>
                </div>
                <div class="row card-footer text-muted">
                    <div class="col-sm">
                        <i class="far fa-eye"> {{ feature.views }} </i> {% if user.is_authenticated %}
                        <a href="{% url 'add_to_cart' feature.id %}" aria-label="upvote"> <i class="fas fa-arrow-up"> {{ feature.upvotes }} </i></a> {% csrf_token %}
                        <a href="{% url 'feature_detail' feature.id %}" aria-label="comments"><i class="far fa-comment"> ({{ feature.comment_number }}) </i> </a> {% else %}
                        <i class="fas fa-arrow-up"> {{feature.upvotes}} </i>
                        <i class="far fa-comment"> ({{ feature.comment_number }}) </i> {% endif %}
                    </div>
                    <div class="col-sm profile-buttons">
                        <a class="btn btn-primary" href="{% url 'feature_detail' feature.id %}" role="button">View</a>
                        <a class="btn btn btn-primary" href="{% url 'edit_feature' feature.id %}" role="button">Edit</a>
                        <a class="btn btn btn-danger" href="{% url 'delete_feature' feature.id %}" role="button">Delete</a>
                    </div>
                </div>
            </div>

            {% endfor %} {% else %}
            <div class="card mb-3">
                <h3 class="card-header">Oops! You have not submitted any features yet!</h3>
            </div>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="posts">
            {% if posts %} {% for post in posts %}
            <div class="card mb-3">
                <h3 class="card-header">{{post.name|truncatewords:"5"}}</h3>
                <div class="card-body">
                    <p class="card-text">{{post.desc}}</p>
                    <h6 class="card-subtitle text-muted">Author: {{ post.author }} </h6>
                </div>
                <div class="row card-footer text-muted">
                    <div class="col-sm">
                        <i class="far fa-eye"> {{ post.views }} </i> {% if user.is_authenticated %}
                        <a href="{% url 'upvote_post' post.id %}" aria-label="upvote"> <i class="fas fa-arrow-up"> {{ post.upvotes }} </i></a> {% csrf_token %}
                        <a href="{% url 'post_detail' post.id %}" aria-label="comments"><i class="far fa-comment"> ({{ post.comment_number }}) </i> </a> {% else %}
                        <i class="fas fa-arrow-up"> {{post.upvotes}} </i>
                        <i class="far fa-comment"> ({{ post.comment_number }}) </i> {% endif %}
                    </div>
                    <div class="col-sm profile-buttons">
                        <a class="btn btn btn-primary" href="{% url 'post_detail' post.id %}" role="button">View</a>
                        <a class="btn btn btn-primary" href="{% url 'edit_post' post.id %}" role="button">Edit</a>
                        <a class="btn btn btn-danger" href="{% url 'delete_post' post.id %}" role="button">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %} {% else %}
            <div class="card mb-3">
                <h3 class="card-header">Oops! You have not posted anything yet!</h3>
            </div>

            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
