{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block content %}
<section class="container">
    <div class="profile-submit-buttons">
        <h1> Cart: </h1>
    </div>
    <div class="row">
        {% for item in cart_items %}
        <div class="col-md-4">
            <div class="card mb-3">
                <h3 class="card-header">{{ item.feature.name }}</h3>
                <div class="card-body">
                    <p class="card-text">{{ item.feature.desc }}</p>
                    <h6 class="card-subtitle text-muted">Author: {{ item.feature.author }} </h6>
                </div>
                <div class="card-footer text-muted">
                    <i class="far fa-eye"> {{ item.feature.views }} </i>
                    <form method="post" action="{% url 'adjust_cart' item.id %}">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit"><span>Delete</span></button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div>
        <h2>Total: £{{ total }}</h2>
    </div>
    <div class="checkout-button">
        <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
    </div>
    </div>
</section>

{% endblock %}
